<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>try</string>
		<key>name</key>
		<string>Tim</string>
	</dict>
	<dict>
		<key>image</key>
		<string>try</string>
		<key>name</key>
		<string>Bob</string>
	</dict>
	<dict>
		<key>image</key>
		<string>try</string>
		<key>name</key>
		<string>Lisa</string>
	</dict>
	<dict>
		<key>image</key>
		<string>try</string>
		<key>name</key>
		<string>Jimmy</string>
	</dict>
</array>
</plist>
